/* Style the header */
.header {

    width: 100%;
    height: 700px;
    color: white;
    padding-top: 250px;
    text-align: center;
    background-size: cover;
    background-image: url("../img/hero.jpg");
}
/* Increase the font size of the <h1> element */
.header h1 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.header h3 {
    font-family: 'Lato', sans-serif;
    color: #e5e5e5;
    font-size: 32px;
    padding: 2px;
}

#aboutMe,
#portfolio,
#contact,
#blog{
    padding: 100px 100px;
}
#aboutMe .row{
    max-width: 980px;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
#aboutMe .col{
    margin-right: 50px;
    margin-left: 50px;
}
#aboutMe img{
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}
#contact a{
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
}

.lead {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    color: #F5BA32;
    padding-bottom: 30px;
}

p {
    font-family: 'Lato', sans-serif;
    color: #555;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 13px;
    line-height: 1.625em;
    text-align: justify;
}

.footer {
    border-top: 1px solid #eee;
    background-color: #F5F5F5;
    color: #555;
    padding: 20px 0 5px 0;
}
.footer p {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    text-align: left;
    margin-left: 55px;
    line-height: 1.625em;
}

/* Display on mobile */
@media screen and (max-width: 768px) {

    .header {
        height: 700px;
        padding-top: 250px;
        text-align: center;
        color: white;
        background-image: url("../img/hero.jpg");
    }
    .header h1 {
        font-family: 'Lato', sans-serif;
        font-size: 26px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .header h3 {
        font-family: 'Lato', sans-serif;
        color: #e5e5e5;
        font-size: 22px;
        padding: 2px;
    }

    #aboutMe,
    #portfolio,
    #contact,
    #blog{
        padding-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
    #aboutMe img{
        padding-top: 34px;
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
    }

    .footer p {
        text-align: center;
        margin-left: 0px;
    }
}